*{
    margin:0;
    padding: 0;
}
body{
    background-color: black;
}
#main{
    border-bottom: solid;
    border-bottom-color: dimgray;
    width: 100%;
    background-color: black;
    margin:0 auto ;
    height: 40px;
    position: absolute;
    top: 0;
    padding-top: 5px;
    z-index: 20;
}
#main #top{
    height: 100px;
    width: 800px;
    margin: 0 auto;

}
ul{
    margin: 5px;
    float: left;
}
#buttons li,#buttons2 li{
    font-family: "Yu Gothic";
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    display: inline-block;
    list-style-type: none;
    width:100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    position: relative;
    margin-left:60px;
    color:white;

}
#buttons li{
    border-style: solid;
    border-width: thin;
    border-color: gray;
    color:white;
    background-color: black;
    transition: 0.5s;
}

#buttons li:after{
    position: absolute;
    left:70px;
    content: '>>';
    opacity: 0;
    color: white;
    transition: 0.5s;

}
#buttons li:hover {

    background-color: beige;
    color: black;
    transition: 0.9s;
}
#buttons li:hover:after{

    left:75px;
    opacity: 1;
    color:black;
    transition: 0.2s;
}

#buttons li:active {
    background-color: skyblue;
    transition: 0.1s;
}


#buttons2 li{
    overflow: hidden;
    color:white;
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: gray;
    transition: 0.5s;
}
#buttons2 li:after{
    background: ghostwhite;
    display: inline-block;
    content: "";
    width: 20px;
    height: 100px;
    left: -40px;
    top:-20px;
    opacity: 0.5;
    position: absolute;
    transform: rotate(15deg);
    transition: 0.5s;
}
#buttons2 li:hover{
    background-color: beige;
    color: black;
    transition: 0.5s;
}
#buttons2 li:hover:after{
    left: 100px;
    transition: 0.5s;


}
#buttons2 li:active{
    background-color: skyblue;

}

#about{

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 0;
    left:1px;
    background-color: black;
    border-style: solid;
    border-color: blanchedalmond;
    color: blanchedalmond;
    border-width: thin;
    z-index: 21;
}
#about{
    width: 40px;
    height: 120px;
    font-size: 10px;
    background-color: black;
    color: white;
    transition: 0.5s;
}
#about:hover{
    width:60px ;
    height: 160px;
    font-size: 17px;
    cursor: pointer;
   background-color: antiquewhite;
    color: black;
    transition: 0.5s;
}
#about div{
    overflow: hidden;
    display: block;
    position: absolute;
    width: 200px;
    top:119px;
    font-size: 20px;
    left:0;
    height:0 ;
    border: solid;
    border-color: antiquewhite;
    border-width: thin;
}
#about div{
    background-color: black;
    color:black;
    font-size: 00px;
    width: 0px;
    height: 0;

    transition:0.5s;

}
#about:hover div{

    top:165px;
    height: 150px;
    font-size: 20px;
    width: 300px;
    color:wheat;
transition: 0.5s;
}
#about:active div{

    height: 300px;
    font-size: 40px;
    width: 600px;
    color:wheat;
    transition: 0.1s;
}
