body{
    padding: 0px;
    margin: 0px;
}
#mydiv{
    margin: 30px auto;
    width: 615px;
    padding: 3px;
    border: 1px solid black;
}
#brush{
    width: 460px;
    height: 1px;
    margin: 0 auto;
    position: relative;
    /*border: 1px solid black;    */
}
#brush #brushtools{
    width: 450px;
    height: 160px;
    border: 1px solid red; 
    background-color: gray;  
    position: absolute;
   
}
#brush #brushtools{
    top:-140px;
   transition: 0.5s;
   
}
#brush #brushtools:hover{
  top:0px;
  transition: 0.5s;
}
#brush #brushtools p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15pt; 
    /*border: 1px solid black;*/
    background-color: tan;
 width: 70px;
 height: 20px;
 margin: 138px auto;
 
}
#canvas{
    margin: 0 0;
   width: 400px;
   height: 400px;
   display: block;
   border: 1px solid red;
}
#colors{
    z-index: 5;
    height: 300px;
    width: 50px;
    overflow:hidden;
    border:15px solid lightslategray; 
    position: fixed;
    cursor: move;
    background-color: lightslategray;
    /*left: 10px;
    top: 10px;*/
}
/*#colors .pickercontainer{
    width: 40px;
    height: 300px;
    display: inline-block;
}*/

#colors .colorpicker{
    display: block;
    border: 2px solid black;
    margin: 0 auto;
    width: 30px;
    height: 21px;
    cursor: pointer;
    background-color: rgb(128, 128, 128);
}
#colors .colorpicker:hover{
    border-style:dotted;
}

#pickerdiv{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.25);
    position: fixed;
    z-index: 10;
    display: none;
    /*visibility: hidden;*/
}
#pickerdiv #pickercanvas{
    width: 200px;
    height: 200px;
    border: 1px solid orange;
    margin: 15px auto;
    display: block;
}
#pickerdiv .buttons{
    position: relative;
    width: 140px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}
#pickerdiv .buttons button{
    display: inline-block;
    width: 65px;
}
#touchbar_container{
    /*position: relative;*/
    width: 300px;
    height: 10px;
    border: 1px solid cadetblue;
    /*position:  relative;*/
    margin-left: auto;
    margin-right: auto;
    background: -webkit-linear-gradient(left, black , white); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, black, white); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, black, white); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, black , white); /* 标准的语法（必须放在最后） */
}
#touchbar_container #touchbar_bar{
    width: 20px;
    height: 8px;
    border: 1px solid yellowgreen;
    background-color: yellow;
    cursor: pointer;
    margin: 0 auto;
    /*position: absolute;*/
    left: 95px;

}
.container{
    padding:0 2px;
    width: 100px;
    height: 400px;
    float:left;
    border: 1px solid saddlebrown;
}


.btn{
    text-align: center;
    padding: auto auto;
    margin: 5px 0;
    width: 95px;
    height: 40px;
    display: block;
    border: 1px solid green;
}
.btn:hover{
    background-color: darkgreen;
}
.btn:active{
    background-color: gray;
}
