body{
    padding: 0px;
    margin: 0px;
}
#mydiv{
    margin: 30px auto;
    width: 615px;
    padding: 3px;
    border: 1px solid black;
}
#loadfile{
    display: none;
}
#brushtools{
    top:200px;
    cursor: move;
            /*禁用内容被选中 ： */
        -moz-user-select:none; /*火狐*/
        -webkit-user-select:none; /*webkit浏览器*/
        -ms-user-select:none; /*IE10*/
        -khtml-user-select:none; /*早期浏览器*/
        user-select:none;
    padding-top: 15px;
    width: 500px;
    height: 160px;
    border-radius: 20px;
    border: 0px solid red; 
    background-color:grey;  
    position: fixed;
}
#brushtools{
       opacity: 0.2;
    transition:opacity 0.4s;  
}
#brushtools:hover{
    opacity: 1;
    transition:opacity 0.4s; 
}
.brushtools_line{
    cursor: pointer;
    width: 400px;
    height: 20px;
    margin: 10px auto;
    /*border: 1px solid black;*/
}
.brushtools_line #brushsize_text{
    /*line-height: 20px;*/
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12pt;
    width: 85px;

    height: 20px;
    /*border: 1px solid saddlebrown;*/
    display: inline-block;
    overflow: hidden;
}
.brushtools_line .brushtypebtn{

    width: 30px;
    height: 30px;
    margin-top: 0;
    border: 1px solid rebeccapurple;
    display: inline-block;
    text-align: center;
    background-color: cadetblue;
    border: 3px solid darkgray;
}
.brushtools_line .brushtypebtn:hover{
     border-color: aqua;
}
.brushtools_line .brushtypebtn:active{
     border-color: cadetblue;
}
#brushtools p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15pt; 
    /*border: 1px solid black;*/
    background-color: tan;
 width: 70px;
 height: 20px;
 margin: 138px auto;
 
}
#brushtools #brushsize_baseline{
    height: 6px;
    background-color:sandybrown;
    width: 300px;
    border-radius: 3px;
    display:inline-block; 
    position: relative;
   top:-9px;
    /*top:-10px;*/
}
#brushtools #brushsize_baseline #burshsize_bar{
    background-color:darkblue;
    border: 3px solid orangered;
    width: 18px;
    height: 18px;
    position: absolute;
    top:-8px;
    border-radius:20px; 
    cursor: pointer;
}
#burshsize_bar #brushsize_alert{
    width: 2px;
    height: 2px;
    border-radius: 200px;
    background-color: white;
    border: 1px solid black;
    margin: 27px auto;
    opacity: 0.67;
    display: none;

}
/*#brush #brushtools #brushsize_baseline #burshsize_bar:hover::after{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: black;

}*/
#canvas{
    margin: 0 0;
   width: 400px;
   height: 400px;
   display: block;
   border: 1px solid red;
}
#colors{
        /*禁用内容被选中 ： */
        -moz-user-select:none; /*火狐*/
        -webkit-user-select:none; /*webkit浏览器*/
        -ms-user-select:none; /*IE10*/
        -khtml-user-select:none; /*早期浏览器*/
        user-select:none;

    z-index: 5;
    height: auto;
    width: 170px;
    /*overflow:hidden;*/
    border:20px solid lightslategray; 
    position: fixed;
    cursor: move;
    border-radius: 13px;
    background-color: lightslategray;
    /*left: 10px;
    top: 10px;*/
}

#colors:hover{
    opacity: 1;
    transition: opacity 0.4s;
}
#colors{
    opacity: 0.2;
    transition: opacity 0.4s;
}

/*#colors .pickercontainer{
    width: 40px;
    height: 300px;
    display: inline-block;
}*/

#colors .colorpicker{
    display: inline-block;
    border: 2px solid black;
    margin: 0 ;
    width: 26px;
    height: 26px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(128, 128, 128);
}
#colors .colorpicker:hover{
    border-style:dotted;
}

#pickerdiv{
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.25);
    position: fixed;
    z-index: 10;
    display: none;
    /*visibility: hidden;*/
}
#pickerdiv #pickercanvas{
    width: 200px;
    height: 200px;
    border: 1px solid orange;
    margin: 15px auto;
    display: block;
}
#pickerdiv .buttons{
    position: relative;
    width: 140px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}
#pickerdiv .buttons button{
    display: inline-block;
    width: 65px;
}
#touchbar_container{
    /*position: relative;*/
    width: 300px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid cadetblue;
    /*position:  relative;*/
    margin-left: auto;
    margin-right: auto;
    /*渐变背景*/
    background: -webkit-linear-gradient(left, black , white); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, black, white); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, black, white); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, black , white); /* 标准的语法（必须放在最后） */
    margin-bottom: 10px;
}
#touchbar_container #touchbar_bar{
    width: 20px;
    height: 20px;
    top: -9px;
    border-radius:14px; 
    border: 4px solid yellowgreen;
    background-color: yellow;
    cursor: pointer;
    margin: 0 auto;
    /*position: absolute;*/
    left: 95px;

}
.container{
            -moz-user-select:none; /*火狐*/
        -webkit-user-select:none; /*webkit浏览器*/
        -ms-user-select:none; /*IE10*/
        -khtml-user-select:none; /*早期浏览器*/
        user-select:none;

    padding:0 2px;
    width: 100px;
    height: 400px;
    float:left;
    border: 1px solid saddlebrown;
}


.btn{
    text-align: center;
    padding: auto auto;
    margin: 5px 0;
    width: 95px;
    height: 40px;
    display: block;
    border: 1px solid green;
}
.btn:hover{
    background-color: darkgreen;
}
.btn:active{
    background-color: gray;
}
